.login-page {
  align-items: center;
  background-color: #ede7d9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login input {
  border: none;
  border-radius: 5%;
  margin-bottom: 5px;
  padding: 0.5rem;
}


.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  margin-top: 30px;

}

.loginText {
  padding: 10px;
}
