.recommendation-container {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 5vh;
  overflow-x: scroll;
  width: 90%;
}

.recommendation-img {
  height: 200px;
}

.card-container {
  margin: 10px;
}

.button-container {
  background-color: purple;
  display: flex;
  justify-content: center;
}

.start-button {
  background-color: rgb(59, 174, 59);
  bottom: 0;
  font-size: 20px;
  height: 5vh;
  margin-bottom: 5px;
  position: fixed;
  text-align: center;
  width: 90vw;
}

.share-and-favorite-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}