.card-recipes {
  max-width: 80%;
}

.top-group {
  display: flex;
  justify-content: space-around;
}

.card-recipes-done {
  flex-direction: row;
  max-width: 100%;
}

.img-card-done {
  width: 160px;
}

.p-done {
  font-size: 13px;
  margin-bottom: 3px;
}

.header-done {
  padding: 3px;
  text-align: center;
  font-size: 13px;
}

.c-body {
  padding: 8px;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
}

.done-bottom span {
  font-size: 14px;
  margin-right: 4px;
  padding: 2px 5px;
  border-radius: 20%;
  background-color: rgb(252, 252, 113);
}

.title-done {
  font-size: 18px;
}