input:checked + span {
  text-decoration: line-through;
}

.finish-recipe {
  background-color: #ffd166;
  border: none;
  border-radius: 5%;
  bottom: 0;
  left: 105px;
  padding: 0.8rem;
  position: fixed;
}

.recipes-progress {
  background-color: #ede7d9;
}

.ingredients {
  background-color: #583e23;
  color: #ede7d9;
  margin-bottom: 15px;
  padding: 1rem;
}

.instructions-progress {
  margin: 8px;
  padding: 0.8rem;
  padding-bottom: 50px;
  text-align: justify;
}

.category-title {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 0;
  opacity: 50%;
  padding: 0.5rem;
}

.checkbox > p {
  margin-left: 5px;
}
