body {
  margin-bottom: 50px;
}

.cards-foods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.cards-foods div {
  border-radius: 15px;
  color: #334031;
  margin: 5px;
}

.cards-recipes {
  align-items: center;
  border: 1px solid #334031;
  box-shadow: 5px 3px 1px hsl(138, 10%, 90%);
}

.cards-foods img {
  border-radius: 15px;
}

.cards-drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

.cards-drinks div {
  border-radius: 15px;
  color: #334031;
  margin: 5px;
}

.cards-drinks img {
  border-radius: 10px;
}

.buttonsCategoryDrinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3px;
}

.buttonsCategoryFood {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3px;
}

.buttonsCategoryDrinks button {
  flex-grow: 1;
  margin: 5px;
}

.buttons-filter {
  background-color: #334031;
  color: #c2e1c2;
}

.cards-recipes card {
  width: 250px;
}

.card-title {
  text-align: center;
}

.card-body {
  padding: 20px 0;
}
