.infoContainer {
  display: flex;
  flex-flow: column;
  margin-top: 60px;
}

.titleEmail {
  text-align: center;
}

.recipesContainer {
  box-shadow: black 20px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

