.parent {
  background-color: rgb(253, 253, 216);
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

.checks {
  display: flex;
  flex-flow:column;
  margin-left: 1rem;
  font-size: 1.2rem;
}
