body {
  background-color: rgb(29, 28, 29);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  padding-bottom: 50px;
  width: 100%;
}

.card {
  align-items: center;
  background-color: transparent;
  border: 2px #343539 solid;
  display: flex;
  flex-direction: column;
  height: 415px;
  margin: 15px;
  width: 360px;
}

.card:hover {
  background-blend-mode: overlay;
  background-color: rgb(46, 46, 46);
  box-shadow: 1px 1px 7px rgb(29, 28, 29) inset;
}

.card-img {
  box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29);
  margin: 30px 10px 10px;
  min-width: 300px;
  width: 80%;
}

.card-img:hover {
  margin: 5px;
  position: absolute;
  transition: 0.4s;
  width: 95%;
}

.card-title {
  color: rgb(242, 242, 242);
  font-size: 180%;
  font-weight: 800;
  height: 60px;
  margin: 10px;
  margin-top: 99%;
  overflow: hidden;
  position: absolute;
  text-shadow: 1px 1px 1px rgb(41, 38, 38);
  width: 100%;
}

@media only screen and ( min-width : 768px ) and ( max-width : 1199.98px ) {


  .card {
    height: 345px;
    margin: 15px;
    width: 300px;
  }


  .card-img {
    min-width: 200px;
  }


}

@media only screen and ( max-width : 768px ) {

  .card {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 27vh;
    margin: 4px;
    width: 46vw;
  }

  .card-img {
    margin: 5px;
    min-width: 80px;
    position: absolute;
    width: 95%;
  }

  .card-title {
    font-size: 13px;
    font-weight: 800;
    margin-top: 99%;
    max-height: 33px;
    position: absolute;
    text-shadow: 0.3px 0.3px 1px rgb(41, 38, 38);
  }

}
