// $theme-colors: (
//   'primary': #0074d9,
//   'danger': #ff4136,
//   'success': #e86107,
//   'secondary': #692c03,
// );


// // Import Bootstrap and its default variables

// @import '~bootstrap/scss/bootstrap.scss' ;
