@media screen and (max-width: 414px) {
  .areaRecipie {
    margin-bottom: 80px;
    width: 100%;

    img {
      width: 100%;
    }

    .containerContent {
      width: 93%;
      margin: 0 auto;
      font-family: 'Poppins', sans-serif;

      .copyUrl {
        position: absolute;
        margin-left: 30vw;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2px 5px;
        color: white;
        border-radius: 5px;
      }

      .headerContent {
        display: grid;
        grid-template-columns: 5fr 1fr 1fr;

        h1 {
          margin-bottom: 0;
        }

        button {
          border: none;
          background: transparent;
          cursor: pointer;

          &:hover {
            opacity: 0.9;
          }
        }
      }

      p {

        &:first-of-type {
          margin: 0;
          color: grey;
        }

        &:last-of-type {
          text-align: justify;
        }
      }

      embed {
        width: 100%;
        height: auto;
      }

      // referência para a construção do carousel de Maurício Viegas
      // https://trybecourse.slack.com/archives/C01L16B9XC7/p1625677249432100?thread_ts=1625670818.424000&cid=C01L16B9XC7 

      .carousel {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        
        .cardRecommendation {
          width: 48%;
          flex: none;
          margin-right: 10px;
          background: #ffd6a5;
          border-radius: 5px;
          cursor: pointer;

          img {
            width: 100%;
          }

          h3 {
            font-size: 20px;
            text-align: center;
          }

          &:hover {
            opacity: 0.9;
          }
        }
      }
    }


    .startRecipie {
      width: 100%;
      height: 60px;
      position: fixed;
      bottom: 0;
      align-items: center;
      background: #EB8328;
      border: none;
      color: #FFF;
      cursor: pointer;
      display: flex;
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-weight: 500;
      justify-content: center;

      &:hover {
        background: #f89c2b;
      }
    }
  }
}