body {
  background-color: whitesmoke;
}

.doneRecipes-container {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.doneRecipes-infos {
  background-color: #ff9654;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  height: 200px;
  padding-left: 5px;
  width: 45%;
}

.doneRecipes-infos > a {
  color: black;
}

.doneRecipes-image {
  height: 200px;
  width: 45%;
}

.doneRecipes-image > a > img {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  height: 100%;
  width: 100%;
}

.button-container > button {
  background-color: #ff9654;
  border-style: none;
}

.tags-recipes {
  display: flex;
  flex-direction: row;
}

.tags {
  background-color: #e85c06;
  border-radius: 16px;
  border-style: none;
  height: 100%;
  text-align: center;
  width: max-content;
}

.categorie-button {
  background-color: #692c03;
  border-style: none;
  color: white;
  margin: 0;
  padding: 5px;
}

.buttons-categories-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
