* {
  list-style: none;
  margin: 0;
  padding: 0;
}

.doneRecipesPage .header {
  background-position: center;
}

.doneFilter {
  display: flex;
  justify-content: space-around;
}

.doneFilter input {
  background-color: transparent;
  border-bottom: 1px solid #343539;
  color: hsl(0, 0%, 95%);
  height: 30px;
  margin-top: 8px;
  width: 100px;
}

.doneFilter input:hover {
  background-blend-mode: overlay;
  background-color: rgb(136, 134, 134);
  box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
}

.doneRecipesPage .selected_filter {
  background-blend-mode: overlay;
  background-color: rgb(136, 134, 134);
  box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
}

.doneComponents {
  background-blend-mode: overlay;
  background-color: rgb(90, 90, 90);
  background-image: url('../images/1057932.jpg');
  background-position: center;
  border-top-left-radius: 30px;
  box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
  display: flex;
  flex-direction: row;
  height: 33vh;
  margin-top: 30px;
}

.image-container {
  border-top-left-radius: 30px;
  height: 20vh;
  object-fit: cover;
  width: 69vw;
}

.doneCategory {
  font-size: 16px;
  height: 16px;
  margin: 4px;
}

.doneTitle {
  display: flex;
  font-family: Montserrat , Arial , Verdana , Tahoma , sans-serif;
  font-size: 25px;
  font-weight: 500;
  height: 70px;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  width: 100%;
}

.doneDate {
  color: #f2f2f2;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 62.4%;
  opacity: 0.9;
  position: absolute;
  width: 10%;
}

.ctn-title-category {
  align-items: center;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-family: Alegreya , Arial , Verdana , Tahoma , sans-serif;
  height: 12vh;
  opacity: 0.9;
  width: 100%;
}

.ctn-link:hover {
  text-decoration: underline transparent;
}

.ctn-date-sharebtn {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.089);
  background-image: url('../images/1057932.jpg');
  background-position-x: 135vw;
  background-position-y: 48vh;
  background-size: 650%;
  border-left: #f2f2f21e 0.5px solid;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10%;
  width: 100%;
}

.share-btn {
  filter: invert(80%);
  width: 28%;
}

.share-btn:hover {
  filter: invert(100%);
}

.tag {
  border-bottom: 1px gray solid;
  justify-content: center;
  margin-top: 20px;
  opacity: 0.9;
  position: relative;
  text-align: center;
  width: 120%;
}

.tag:hover {
  background-blend-mode: overlay;
  background-color: rgb(136, 134, 134);
  box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
  cursor: default;
}

@media ( min-width : 786.98px ) {

  .doneFilter input {
    background-color: transparent;
    height: 40px;
    margin-top: 8px;
    width: 150px;
  }

  .cardHolder {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .doneComponents {
    height: 42vh;
    width: 40vw;
  }

  .image-container {
    border-top-left-radius: 30px;
    height: 29.2vh;
    object-fit: cover;
    width: 30vw;
  }

  .ctn-date-sharebtn {
    background-position-x: 109vw;
    background-position-y: 53vh;
  }

  .doneDate {
    font-size: 13px;
    margin-left: 20px;
    margin-top: 39.4vh;
  }

  .tag {
    font-size: 13px;
    margin-top: 4vh;
    width: 80px;
  }

  .doneTitle {
    width: 100%;
  }

  @media ( max-width : 1199.98px ) {
    .share-btn {
      width: 34%;
    }
  }
}
