@media only screen and ( max-width : 768px ) {

  .path-buttons-container {
    align-items: center;
    background-color: rgb(29, 28, 29);
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    width: 100%;
  }

  .path-btn {
    background-color: transparent;
    border-bottom: 3px solid #343539;
    color: hsl(0, 0%, 95%);
    font-size: 22px;
    font-weight: 900;
    height: 80px;
    margin: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(41, 38, 38);
    width: 250px;
  }

  .path-btn:active {
    background-blend-mode: overlay;
    background-color: rgb(163, 162, 162);
    box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
    transition: 0.4s;
  }

  .area-select {
    background-color: black;
    background-image: url('../images/1057932.jpg');
    background-position: center;
    border: rgba(83, 83, 83, 0.644) solid 1px;
    box-shadow: 1px 1px 7px rgb(29, 28, 29) inset;
    color: whitesmoke;
    font-size: 18px;
    height: 40px;
    margin: 0;
    text-align-last: center;
    width: 100%;
  }

}

@media only screen and ( min-width : 768px ) {

  .path-buttons-container {
    align-items: center;
    background-color: rgb(29, 28, 29);
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    width: 100%;
  }

  .path-btn {
    background-color: transparent;
    border-bottom: 3px solid #343539;
    box-shadow: 1px 1px 7px rgb(29, 28, 29);
    color: hsl(0, 0%, 95%);
    font-size: 28px;
    font-weight: 900;
    height: 120px;
    margin: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(41, 38, 38);
    width: 500px;
  }

  .path-btn:hover {
    background-blend-mode: overlay;
    background-color: rgb(163, 162, 162);
    box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
    transition: 0.4s;
  }

  .path-btn:active {
    background-blend-mode: overlay;
    background-color: rgb(163, 162, 162);
    box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
    transition: 0.4s;
  }

  .area-select {
    background-color: rgb(29, 28, 29);
    background-position: center;
    border: rgba(83, 83, 83, 0.644) solid 1px;
    color: whitesmoke;
    font-size: 25px;
    height: 50px;
    margin: 0;
    text-align-last: center;
    width: 100%;
  }
}
