.explorar-buttons {
  display: flex;
  flex-direction: column;
  height: 20%;
  margin-top: 15px;
}

.explorar-buttons > button {
  background-color: rgb(167, 166, 166);
  border-style: none;
  height: 150px;
}

.explorar-buttons > button:focus {
  outline: none;
}

.explorar-buttons > button:hover {
  background-color: rgb(122, 122, 122);
}