.explorar-buttons {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
  margin: 15px auto;
  width: 80%;
}

.explorar-buttons > button {
  background-color: rgb(167, 166, 166);
  border-style: none;
  height: 80px;
}

.explorar-buttons > button:focus {
  outline: none;
}

.explorar-buttons > button:hover {
  background-color: rgb(122, 122, 122);
}
