@media only screen and ( max-width : 768px ) {

  .path-buttons-container {
    align-items: center;
    background-color: #48487d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .path-btn {
    background-color: #c9b34d;
    border: black 1px solid;
    border-radius: 60px;
    color: #636396;
    font-size: 25px;
    height: 80px;
    margin: 20px;
    text-align: center;
    width: 250px;
  }

  .path-btn:active {
    background-color: white;
    border: black 1px solid;
    border-radius: 60px;
    color: #636396;
    font-size: 25px;
    height: 80px;
    margin: 20px;
    text-align: center;
    width: 250px;
  }

  .area-select {
    width: 100%;
    background-color: #48487d;
    border: #48487d solid 2px;
    height: 30px;
    color: whitesmoke;
    font-size: 18px;
  }

}

@media only screen and ( min-width : 768px ) {

  .path-buttons-container {
    align-items: center;
    background-color: #48487d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }

  .path-btn {
    background-color: #c9b34d;
    border: black 1px solid;
    border-radius: 60px;
    color: #636396;
    font-size: 28px;
    height: 120px;
    margin: 50px;
    text-align: center;
    width: 500px;
  }

  .path-btn:hover {
    background-color: white;
    border: black 1px solid;
    border-radius: 60px;
    color: #636396;
    font-size: 28px;
    height: 120px;
    margin: 50px;
    opacity: 80%;
    text-align: center;
    width: 500px;
  }

  .path-btn:active {
    background-color: white;
    border: black 1px solid;
    border-radius: 60px;
    color: #636396;
    font-size: 28px;
    height: 120px;
    margin: 50px;
    text-align: center;
    width: 500px;
  }

  .area-select {
    width: 100%;
    background-color: #48487d;
    border: #48487d solid 2px;
    height: 60px;
    color: whitesmoke;
    font-size: 25px;
  }

}
