/* .explorar-comidas-buttons {
  display: flex;
  flex-direction: column;
}

.explorar-comidas-buttons > button {
 background-color: rgb(167, 166, 166);
 border-style: none;
 height: 150px;
}

.explorar-comidas-buttons > button:focus {
  outline: none;
} */