@media screen and (max-width: 414px) {
  .container {
    background: #ffd6a5;
    height: 120px;
    
    .areaButtons {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 8px;
      margin: 0 10px;
      padding-top: 10px;

      button {
        height: 45px;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        background: #EB8328;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 0;
        text-shadow: 0.5px 0.5px 5px grey;

        &:hover {
          box-shadow: 1px 1px 5px grey;
          background: #FFF;
          color: #EB8328;
          text-shadow: 1px 1px 5px #ffd6a5;
        }
      }

    }
  }
}