.footer-links {
  background-color: #e85c06;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  left: 0;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.footer-icons-color {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(27deg) brightness(101%) contrast(102%);
}