.footer {
  background-color: rgb(67, 163, 58);
  bottom: 0;
  display: flex;
  position: fixed;
  width: 100%;
}

.footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: auto;
  padding: 0.5em;
  width: 100%;
}

.footer ul li button {
  background-color: transparent;
  border: none;
}
