.header-container {
  align-items: center;
  background-color: #ff9654;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.header-container > h1 {
  color: #692c03;
  font-family: Indie Flower , cursive;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 10px;
  text-decoration: white;
}

.header-container > button {
  background-color: #ff9654;
  border-style: none;
}

.header-container > button:focus {
  outline: none;
}

.explore-header {
  font-size: 30px;
  padding-bottom: 7px;
}

.loading {
  align-items: center;
  background-color: #ff9654;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

@import url(
  'https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'
) ;
