@media screen and (max-width: 414px) {

  .container {
    background: #EB8328;
    height: 80px;
    width: 100%;

    header {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      width: 90%;
      margin: 0 auto;
      text-align: center;

      img {
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(334deg) brightness(106%) contrast(101%);

        &:hover {
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(334deg) brightness(106%) contrast(101%) drop-shadow(2px 2px 5px rgb(59, 59, 59));
        }
      }

      .profile {
        height: 32px;
        margin-top: 14px;
        padding: 10px;
        width: 32px;
      }

      h1 {
        font-family: 'Poppins', sans-serif;
        color: white;
        text-shadow: 1px 1px 10px rgb(59, 59, 59);
        font-weight: 500;
      }

      .search {
        border: none;
        background: transparent;
        cursor: pointer;

        img {
          margin-top: -5px;
        }
      }
    }
  }
}
