* {
  border: 0%;
  border-style: none;
  margin: 0%;
}

.header {
  background-image: url('../images/1057932.jpg');
  background-position-x: center;
  background-position-y: 577vw;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  font-family: Montserrat , Arial , Verdana , Tahoma , sans-serif;
  width: 100%;

  /* background-color: #f28c0f; */

  /* background-blend-mode: overlay; */
}

.header-top {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 100%;
}

.page-title {
  color: #f2f2f2;
  cursor: grab;
  font-family: Montserrat , Arial , Verdana , Tahoma , sans-serif;
  font-size: 36px;
  font-weight: 100;
  left: 50%;
  margin-top: 20px;
  position: absolute;
  text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.473);
  text-transform: uppercase;
  transform: translateX(-50%);
}

.page-title::selection {
  background-color: transparent;
}

.img-header {
  display: absolute;
  filter: invert(80%);
  height: 34px;
  margin-left: 15.8vw;
}

.img-header:hover {
  filter: invert(100%);
}

.btn-search {
  background-color: transparent;
  filter: invert(80%);
  height: 36px;
  margin-right: 15.8vw;
  position: absolute;
  right: 0;
}

.btn-search:hover {
  filter: invert(100%);
}

.inp-search {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.247);
  box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.365) inset;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0%;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.inp-txt-search {
  background-color: rgba(216, 209, 209, 0.4);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  color: #f2f2f2;
  font-size: 20px;
  height: 60%;
  transition: width 0.4s ease-in-out;
  width: 60%;
}

.inp-txt-search input {
  opacity: 0.2;
}

.inp-txt-search:focus {
  height: 60%;
  width: 100%;
}

.btn-search-submit {
  background-color: #f2a30fee;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  font-size: 14px;
  height: 60%;
  min-width: 80px;
}

.btn-search-submit:hover {
  box-shadow: 0.5px 0.5px 4px hsla(0, 21%, 36%, 0.365) inset;
}

.inp-group-search {
  align-items: center;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: space-between;
  margin-right: 2px;
  width: 80%;
}

.selected_header_filter {
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
}

.inp-group-search label {
  align-items: center;
  box-shadow: 4px 4px 10px rgb(29, 28, 29);
  display: flex;
  height: 60%;
  justify-content: center;
  margin-top: 2%;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
  width: 30%;
}

.inp-group-search label:hover {
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.61);
  box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
  text-shadow: 1px 1px 1px rgb(51, 51, 51);
}

.inp-group-search input {
  opacity: 0;
}

.group-submit-txt {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media ( max-width : 786.98px ) {

  .header {
    background-position-x: center;
    background-position-y: 389vw;
    background-size: auto;
  }

  .inp-group-search {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    justify-content: space-around;
    margin-top: 3px;
    padding: 0;
    width: 100%;
  }

  .btn-search-submit {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 12px;
    height: 60%;
    max-width: 40px;
  }

  .inp-search {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .page-title {
    font-size: 22px;
    margin-top: 16px;
    text-align: center;
    width: 80%;
  }

  .img-header {
    margin-left: 15px;
  }

  .btn-search {
    margin-right: 15px;
  }

  .group-submit-txt {
    height: 100%;
    margin: 0;
  }

  .inp-txt-search:focus {
    width: 75%;
  }
}
