.header-cotainer {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
  top: 0;
}

.searchBtn {
  background-color: #0fa36b;
  border: none;
}
