$orange: rgb(242, 163, 15);
$shadow: rgba(51, 49, 49, 0.6);
$disabled: rgb(109, 109, 109);
$input: rgba(216, 209, 209, 0.4);

@mixin for-phone-only {
    @media ( max-width : 767.98px ) { @content;}
}

.in-progress-recipe {
  display: flex;
  flex-direction: column;

  .title {
    align-self: center;
    color: white;
    font-size: 4em;
    padding-top: 0.5em;

    @include for-phone-only {
      font-size: 2.5em;
    }
  }

  .category {
    align-self: center;
    color: white;
    font-size: 3em;
    padding-bottom: 0.5em;

    @include for-phone-only {
      font-size: 1.8em;
      padding-bottom: 0;
    }
  }


  .h3 {
    color: white;
    font-size: 2.5em;
    padding: 1em 0 0.5em 2.2em;

    @include for-phone-only{
      font-size: 1.8em;
      padding: 1em 0 0 1em;
    }
  }

  .instructions {
    padding-left: 3em;
    margin-bottom: 4em;

    @include for-phone-only {
      border-bottom: 1px solid black;
      font-size: 0.8em;
      line-height: 0.5em;
      padding: 0;
      padding-top: 1em;
      text-align: justify;
      width: 100%;
    }
  }

  & p {
    color: white;
    float: right;
    font-size: 1.3em;
    line-height: 2.4em;
    padding-left: 2em;
    width: 87%;
  }

  & div {
    display: flex;

    @include for-phone-only {
      flex-direction: column;
    }
  }

  & .image {
    border-bottom: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 50%;

    @include for-phone-only {
      border-bottom: 1px solid black;
      padding: 0;
      width: 100%;
    }

    & img {
      align-self: center;
      height: auto;
      width: 80%;
    }

    & .titles {
      align-self: flex-start;
      margin: 0 0 2em 4em;
    }

    & div {
      align-self: flex-start;
      margin: 0.6em 0 0 3.8em;

      @include for-phone-only {
        flex-direction: row;
        margin: 0.3em 0 0 2em;
      }
    }

    & input {
      align-self: center;
      filter: invert(100%);
      padding: 1em;
    }

    & input:hover {
      filter: invert(30%);
    }
  }

  & .ingredients {
    border-bottom: 1px solid white;
    padding-top: 1.8em;
    width: 50%;

    @include for-phone-only {
      border-bottom: 1px solid black;
      padding: 2em;
      width: 100%;
    }

    & h3 {
      color: white;
      font-size: 3em;

      @include for-phone-only {
        font-size: 1.8em;
        padding-bottom: 0;
      }
    }

    & ul {
      display: flex;
      flex-flow: column wrap;
      flex-direction: column;
      height: 400px;
      margin-left: 0;
      margin-top: 1.5em;
      padding-left: 0;

      @include for-phone-only {
        flex-flow: column;
        height: auto;
      }
    }

    & li {
      color: white;
      font-size: 1.3em;
      list-style-type: none;
      padding: 0.5em;
    }
  }
}

.finish-recipe {
  border: 1px solid black;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;

  &:disabled {
    background-color: $disabled;
    cursor: not-allowed;
    transition: 2s;
  }

  &:enabled {
    background-color: $orange;
    color: white;
    transition: 2s;
  }

  &:enabled:hover {
    background-color: $orange;
    box-shadow: 1px 1px 7px rgb(29, 28, 29) inset;
    transition: 1s;
  }
}

// .finish-recipe:enabled {
//   border: 1px solid black;
//   bottom: 0;
//   height: 50px;
//   position: fixed;
//   width: 100%;
// }
