@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,800;1,200;1,300&display=swap') ;

.loading-container {
  align-items: center;
  background-color: black;
  color: #f2a30f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.loading-text {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loading-title {
  font-family: Montserrat , sans-serif;
  font-size: 40px;
}

/* Codigo abaixo proveniente do site
https://dev.to/afif/still-100-css-loaders-for-your-next-project-57hp#the-nature-ii */

.dots-8 {

  --c: radial-gradient(farthest-side, currentColor 90%, #0000);
  animation: d8 0.5s infinite;
  background: var(--c) 0    0 , var(--c) 100% 0 , var(--c) 100% 100% , var(--c) 0    100%;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  height: 32px;
  width: 32px;
}

@keyframes d8 {

  100% {
    background-position: 100% 0 , 100% 100% , 0 100% , 0 0; }
}
