@media screen and ( max-width : 414px ) {

  .container {
    position: absolute;
    width: 100%;

    .cardsArea {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr 1fr;
      margin: 15px 10px 70px;
    }
  }
}
