body {
  height: 100vh;
  width: 100vw;
}

.detail-container {
  background-color: turquoise;
  width: 100vw;
}

.detail-container img {
  width: 100%;
}

.recipes-container {
  display: flex;
  flex-flow: row wrap;
  height: 78%;
  justify-content: space-around;
}

.recipe {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipe-title {
  font-size: 6pt;
}

.recipe-image {
  width: 40px;
}
