@media screen and ( max-width : 414px ) {

  .container {
    position: absolute;
    width: 100%;

    .selectArea {
      font-family: 'Poppins', sans-serif;
      width: 95%;
      margin: 8px;
      padding: 8px;
      border-radius: 5px;
      background: #FFF;
      cursor: pointer;
    }

    .cardsArea {
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr 1fr;
      margin: 15px 10px 70px;
    }
  }
}
