/* /* Estilização de carousel retirada desse vídeo:
https://www.youtube.com/watch?v=SGwHpzgqzgk */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* .recomedation-img {
  width: 100vw;
} */

/* .carousel {
  width: 100vw;
} */

.recipes {
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.recomendation-card {
  flex: none;
  height: 150px;
  margin-right: 10%;
  scroll-snap-align: start;
  width: 40%;
}

/* .recipe-image {
  height: 80%;
  object-fit: cover;
  width: 100%;
} */

/* .start-recipe {
  bottom: 0;
  position: fixed;
} */

