.profile-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.email-profile-page {
  bottom: 70%;
  color: hsl(0, 0%, 95%);
  font-size: 250%;
  position: absolute;
  text-shadow: 0.5px 0.5px 0.5px rgb(41, 38, 38);
  transform: translateY(-30%);
}

.btn-profile-page {
  bottom: 30%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  height: 30%;
  justify-content: space-between;
  position: absolute;
  width: 50%;
}

.btn-profile-page button {
  background-color: transparent;
  border-bottom: 3px solid #343539;
  box-shadow: 1px 1px 7px rgb(29, 28, 29);
  color: hsl(0, 0%, 95%);
  font-size: 16px;
  font-weight: 900;
  height: 270%;
  text-shadow: 0.5px 0.5px 0.5px rgb(41, 38, 38);
  text-transform: uppercase;
  transition: 0.4s;
  width: 100%;
}

.btn-profile-page button:hover {
  background-blend-mode: overlay;
  background-color: rgb(163, 162, 162);
  box-shadow: 0.3px 0.3px 3px rgb(29, 28, 29) inset;
}

@media ( max-width : 786.98px ) {

  .email-profile-page {
    font-size: 140%;
  }

  .btn-profile-page {
    width: 80%;
  }

  .btn-profile-page button {
    font-size: 14px;
  }
}
