@media screen and (max-width: 414px) {
  .container {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    button {
      margin: 10px 0;
      align-items: center;
      background: #EB8328;
      border: 1px solid #EB8328;
      border-radius: 5px;
      color: #FFF;
      cursor: pointer;
      display: flex;
      font-size: 18px;
      font-weight: 600;
      height: 50px;
      justify-content: center;
        
      &:hover {
        background: #FFF;
        color: #EB8328;
      }
    }
  }
}