$orange: rgb(242, 163, 15);


@mixin for-phone-only {
  @media ( max-width : 767.98px ) { @content;}

}

.recipe_details {
  display: flex;
  flex-direction: column;

  .title {
    align-self: center;
    color: white;
    font-size: 4em;
    padding-top: 0.5em;
    @include for-phone-only{
      font-size: 2.5em;
    }
  }

  .category {
    align-self: center;
    color: white;
    font-size: 3em;
    padding-bottom: 0.5em;
    @include for-phone-only{
      font-size: 1.8em;
      padding-bottom: 0;
    }
  }

  .h3 {
    color: white;
    font-size: 2.5em;
    padding: 1em 0 0.5em 2.2em;
    @include for-phone-only{
      font-size: 1.8em;
      padding: 1em 0 0 1em;
    }
  }

  .instructions {
    padding: 1em 3em;
    @include for-phone-only{
      border-bottom: 1px solid black;
      font-size: 0.8em;
      line-height: 0.5em;
      padding: 0;
      padding-top: 1em;
      text-align: justify;
      width: 100%;
    }
  }

  & iframe {
    float: left;
    margin-left: 2em;
    @include for-phone-only{
      margin-bottom: 2em;
      margin-left: 0;
      padding: 1em;
      width: 100%;
    }
  }

  & p {
    color: white;
    float: right;
    font-size: 1.3em;
    line-height: 2.4em;
    padding-left: 2em;
    width: 87%;
  }

  & div {
    display: flex;
    @include for-phone-only{
      flex-direction: column;
    }
  }

  & .image {
    border-bottom: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 50%;

    @include for-phone-only {
      padding-bottom: 3.5em;
      border-bottom: 1px solid black;
      width: 100%;
    }

    & img {
      align-self: center;
      height: auto;
      width: 80%;
    }

    & .titles {
      align-self: flex-start;
      margin: 0 0 2em 4em;
    }

    & div {
      align-self: flex-start;
      margin: 2em 0 2em 4em;

      @include for-phone-only {
        margin: 0 0 1em 3em;
      }
    }

    & input {
      align-self: center;
      filter: invert(100%);
      margin-left: 0.5em;
      padding: 1em;
      position: absolute;
    }

    & .share-btn {
      margin-left: 4em;
      width: 55px;
    }

    & input:hover {
      filter: invert(30%);
    }
  }

  & .ingredients {
    border-bottom: 1px solid white;
    padding-top: 1.8em;
    width: 50%;
    @include for-phone-only{
      border-bottom: 1px solid black;
      padding: 2em;
      width: 100%;
    }

    & h3 {
      color: white;
      font-size: 3em;
      @include for-phone-only{
        font-size: 1.8em;
        padding-bottom: 0;
      }
    }

    & ul {
      display: flex;
      flex-flow: column wrap;
      flex-direction: column;
      height: 400px;
      margin-left: 1.8em;
      margin-top: 1.5em;
      padding-left: 0;
      @include for-phone-only{
        flex-flow: column;
        height: auto;
      }
    }

    & li {
      color: white;
      font-size: 1.3em;
      list-style-type: disc;
      padding: 0.5em;
    }
  }
}

.swiper {

  .swiper__slide {
    background-color: black;
    padding: 0 0.5em 0.5em;
    padding-bottom: 4.5em;  

    .swiper__div {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .swiper__title {
      color: white;
      padding: 0.6em 0 0.3em;
    }

    .swiper__img {
      border: 1px solid black;
      height: auto;
      width: 100%;
    }

    .swiper__link:hover {
      text-decoration: none;
    }
  }
}

.startBtn {
  background-color: $orange;
  border: none;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.startBtn:enabled:hover {
  background-color: $orange;
  box-shadow: 1px 1px 7px rgb(29, 28, 29) inset;
  transition: 1s;
}
