@mixin for-phone-only {
  @media ( max-width : 767.98px ) { @content;}

}

.recipe_details {
  display: flex;
  flex-direction: column;

  .title {
    align-self: center;
    color: white;
    font-size: 4em;
    padding-top: 0.5em;
  }

  .category {
    align-self: center;
    color: white;
    font-size: 3em;
    padding-bottom: 0.5em;
  }

  .h3 {
    color: white;
    font-size: 2.5em;
    padding: 1em 0 0.5em 2.2em;
  }

  .instructions {
    padding: 3em;
  }

  & iframe {
    float: left;
    margin-left: 2em;
  }

  & p {
    color: white;
    float: right;
    font-size: 1.3em;
    line-height: 2.4em;
    padding-left: 2em;
    width: 87%;
  }

  & div {
    display: flex;
  }

  & .image {
    border-bottom: 1px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 50%;


    & img {
      align-self: center;
      height: auto;
      width: 80%;
    }

    & .titles {
      align-self: flex-start;
      margin: 0 0 2em 4em;
    }

    & div {
      align-self: flex-start;
      margin: 0.6em 0 0 3.8em;
    }

    & input {
      align-self: center;
      filter: invert(100%);
      padding: 1em;
    }

    & input:hover {
      filter: invert(30%);
    }
  }

  & .ingredients {
    border-bottom: 1px solid white;
    padding-top: 1.8em;
    width: 50%;

    & h3 {
      color: white;
      font-size: 3em;
    }

    & ul {
      display: flex;
      flex-flow: column wrap;
      flex-direction: column;
      height: 400px;
      margin-left: 1.8em;
      margin-top: 1.5em;
      padding-left: 0;
    }

    & li {
      color: white;
      font-size: 1.3em;
      list-style-type: disc;
      padding: 0.5em;
    }
  }
}

.swiper {

  .swiper__slide {
    background-color: black;
    padding: 0 0.5em 0.5em;
    padding-bottom: 4.5em;

    .swiper__div {
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .swiper__title {
      color: white;
      padding: 0.6em 0 0.3em;
    }

    .swiper__img {
      border: 1px solid black;
      height: auto;
      width: 100%;
    }

    .swiper__link:hover {
      text-decoration: none;
    }
  }
}

.startBtn {
  border: 1px solid black;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
