/* Estilização fornecida por Vinicius Rodrigues */

/* .recomendation-image {
  width: 100vw;
} */

/* .recipes {
  background-color: tomato;
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.recomendation-card {
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 3% 3% 8%;
}

.recomendation-card img {
  border-radius: 20px 20px 0 0;
  max-height: auto;
  max-width: 170px;
  scroll-snap-align: start;
  width: fit-content;
}

.recomendation-card h3 {
  font-size: 15pt;
  margin-top: 1%;
}

.start-recipe {
  bottom: 0;
  position: fixed;
} */
