body {
  height: 100vh;
  width: 100vw;
}

body div {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* ---------- Componente Header ---------- */

/* Adicionar a propriedade que faz o menu esconder no scroll */
.header {
  align-items: center;
  background-color: #c3baba;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
  position: fixed;
  top: 0;
  width: 100%;
}

.header h1 {
  font-size: 24pt;
  margin: 0;
  text-align: center;
}

.searchBtn {
  background-color: rgba(245, 245, 245, 0);
  border: none;
}

/* --------------------------------------- */

/* ------------------------ Tela de Login --------------------- */
.login-inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* ------------------------------------------------------------ */

/* ----------------- Estilos bases das telas  ----------------- */
.main-recipes, .main-explore, .main-ingredients, .main-area {
  background: #ea1d2bf3;
  display: flex;
  flex-flow: column wrap;
  font-family: sans-serif;
  width: 100%;
}

.recipes-container, .ingredients-container {
  display: flex;
  flex-flow: row wrap;
  height: 78%;
  justify-content: space-around;
  margin-bottom: 12%;
  margin-top: 37%;
}

.recipe, .ingredient {
  align-items: center;
  background-color: #9a8f9757;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 3%;
  width: 35%;
}

/* ------------------------------------------------------------ */

/* -------------- Tela Principal de Receitas  ----------------- */
.main-recipes {
  align-items: center;
  justify-content: space-around;
  margin-top: 15%;
}

/* ------ Componente Filter Buttons ------ */
.button-container {
  background-color: #c3baba;
  display: flex;
  flex-wrap: wrap;
  height: 125px;
  justify-content: space-around;
  position: fixed;
  top: 8.5%;
  width: 100%;
}

.button {
  background-color: #138a36;
  border: none;
  border-radius: 10px;
  color: #fffefee7;
  font-size: 13pt;
  font-weight: 500;
  height: 40%;
  margin: 1% 0;
  padding: 1%;
  width: 30%;
  word-wrap: break-word;
}

/* --------------------------------------- */

/* -------- Componente Search Bar -------- */
.search-bar {
  background-color: #c3baba;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: fixed;
  top: 8.5%;
}

.input-text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-text input {
  border: none;
  border-radius: 5px;
  height: 25pt;
  width: 85%;
}

.radio-button {
  align-items: center;
  display: flex;
  font-size: 15pt;
}

.radio-button input {
  height: 15pt;
  width: 15pt;
}

.search-button {
  margin-bottom: 2%;
  width: 98%;
}

/* --------------------------------------- */

/* --- Componentes Meal/Drink Recipes & Foods Ingredients -- */
.recipe {
  background-color: #9a8f9757;
}

.recipe-image {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.recipe-title {
  color: rgba(0, 0, 0, 0.945);
  font-size: 16pt;
  margin: 4% 0;
}

/* --------------------------------------- */

/* ------------------------------------------------------------ */

/* -------------------- Tela de Explorar ---------------------- */

/* ---------- Componente Explore --------- */
.main-explore {
  align-items: stretch;
  height: 100%;
  justify-content: space-evenly;
  margin: 0;
}

.main-explore a {
  display: flex;
  justify-content: center;
}

.explore-button {
  background-color: #231651;
  height: 100%;
  width: 96%;
}

/* ------------------------------------------------------------ */

/* ----------- Tela de Explorar por Ingredientes -------------- */
.ingredient {
  background-color: #9a8f9794;
  color: black;
  font-size: 15pt;
}

.ingredient-title {
  text-align: center;
}

/* ------------------------------------------------------------ */

/* -------------- Tela de Explorar por Origem ----------------- */
.recipes-area {
  align-items: center;
  background-color: #c3baba;
  display: flex;
  height: 50pt;
  justify-content: center;
  margin-top: 12%;
}

.select-area {
  background-color: whitesmoke;
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 96%;
}

.main-area .recipes-container {
  margin-top: 5%;
}

/* ------------------------------------------------------------ */

/* ---------- Componente Footer ---------- */
footer {
  background-color: #c3baba;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  position: fixed;
  width: 100%;
}

/* --------------------------------------- */
