.card-left {
  float: left;
  width: 50%;
  padding: 1px;
}

.card-right {
  float: right;
  width: 50%;
  padding: 1px;
}

.carousel-indicators {
  visibility: hidden;
}

/* #startBtn {
  position: fixed;
} */
