.recipe-details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-recipe-details {
  position: relative;
}

.top-recipe-details img {
  width: 100%;
}

.top-recipe-details .recipes-buttons-actions {
  display: flex;
}

.recipes-buttons-actions button {
  border: none;
  flex: 1;
}

.recipes-buttons-actions button:nth-child( 2 ) {
  background-color: #ffc529;
}

.recipes-buttons-actions button img {
  width: 30px;
}

/* .recipe-details-container .favorite-btn {
  width: 30px;
} */

.start-recipe-btn {
  align-self: center;
  bottom: 0;
  display: flex;
  padding: 10px;
  position: fixed;
  z-index: 1000;
}

.carousel-container {
  margin: 20px 0;
}
