.recipe {
  padding-bottom: 110px;

  .header {
    border-bottom: 2px var(--purple) solid;
    font-size: 0;
    position: relative;

    img {
      height: 250px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    .options {
      background: var(--yellow);
      border-radius: 15px;
      bottom: 0;
      color: var(--dark-purple);
      display: grid;
      font-size: 24px;
      gap: 35px;
      grid-template-columns: repeat(2, auto);
      padding: 10px 15px;
      position: absolute;
      right: 30px;
      transform: translateY(50%);
    }
  }

  main {
    color: var(--light-purple);
    padding: 30px;

    .listOfIngredients {
      display: grid;
      list-style-position: inside;
    }

  }

  section {
    margin-top: 40px;
  }
}

.recommendationsCarousel {
  display: flex;
}
