.btn-grad {background-image: linear-gradient(to right, #FFA900 0%, #FFF700  51%, #FFA900  100%)}
.btn-grad {
   margin: 50px auto;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: black;            
   box-shadow: 0 0 20px rgb(93, 90, 99);
   border-radius: 10px;
   display: block;
   border: none;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
