* {
  padding: 0;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.form-group {
  width: 100%;
  max-width: 330px;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}