.recipes-in-progress-page {
  display: flex;
  flex-direction: column;
}

.recipes-in-progress-page > img {
  width: 100vw;
}

.overflow-card {
  align-items: center;
  background: var(--background);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 150px;
  justify-content: center;
  margin-top: -50px;
  padding: 0 10px;
  z-index: 9999;
}

.recipe__title {
  color: #eb9412;
  font-size: 30px;
  font-weight: 700;
  width: fit-content;
}

.recipe-category {
  color: var(--complementary-light);
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.interact__buttons {
  background: #eb9412;
  border: none;
  border-radius: 50%;
  height: 50px;
  margin-left: 15px;
  padding: 10px;
  width: 50px;
}

.interact__buttons img {
  object-fit: contain;
  width: 100%;
}

.recipes-in-progress-page > h3 {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 25px;
}

.ingredient-items-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  margin-left: 10px;
  max-width: 90%;
  background: var(--spotlight);
}

.ingredient-items-list label {
  border-radius: 5px;
  color: var(--white);
  font-size: 18px;
  padding: 5px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.ingredient-items-list input {
  margin-left: 15px;
  transform: rotate(0) scale(1.8);
  transition: all 0.4s;
}

.ingredient-items-list input:checked {
  opacity: 0.4;
  transform: rotate(360deg) scale(1.3);
}

.recipe-instructions {
  padding: 10px;
}

.finish-recipe__button {
  align-self: center;
  background: rgb(28, 230, 28);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  margin: 25px 0;
  padding: 5px;
  width: fit-content;
}

.finish-recipe__button:disabled {
  opacity: 0.5;
}
