@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Handlee&display=swap') ;

.small-card {
  align-items: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 2px 20px 2px gray;
  display: flex;
  flex-direction: column;
  font-family: Comic Neue , cursive;
  height: 150px;
  justify-content: space-between;
  margin: 4px;
  width: 135px;

}

.image-card {
  border-radius: 6px 6px 0 0;
  height: 100px;
  width: 100%;
}

.title-card {
  align-self: start;
  font-family: Handlee , cursive;
  font-size: large;
  justify-self: center;
  margin: 0 6px 10px;
}
