.category-button {
  /* transform: rotate(-90deg); */
  border: none;
  border-radius: 0 10px 10px 0;

}

.text-button {
  writing-mode: vertical-rl;
  justify-self: start; 
}

.categories-container {
  width: 40px;
  display: flex;
  flex-direction: column;
}

.selected {
  background-color: antiquewhite;
}
