.footer-bar {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.45);
  border-radius: 19px 19px 0 0;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.footer-icon {
  height: 30px;
}
