@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Handlee&display=swap') ;

.exploreBtn {
  background-color: transparent;
  border: none;
}

.Header {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.45);
  border-radius: 0 0 19px 19px;
  color: white;
  display: flex;
  font-family: Comic Neue , cursive;
  font-weight: 700;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 20px;
  width: 100%;
}

.Title {
  margin-right: 30%;
}

.explore-icon {
  align-items: center;
  display: inline-block;
  text-align: center;
}
