/* @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Handlee&display=swap') ;

.search-btn {
  background: black;
  border-radius: 22.5px;
  bottom: 47.62%;
  left: 86.11%;
  position: absolute;
  right: 1.39%;
  top: 8.57%;
}

.radio-fletter {
  align-items: flex-end;
  bottom: 37.89%;
  display: flex;
  font-family: Handlee , cursive;
  font-size: 16px;
  font-style: normal;
  left: 55.83%;
  line-height: 21px;
  position: absolute;
  right: 14.44%;
  top: 40%;
}

.radio-name {
  align-items: flex-end;
  bottom: 37.89%;
  display: flex;
  font-family: Handlee , cursive;
  font-size: 16px;
  font-style: normal;
  left: 36.11%;
  line-height: 21px;
  position: absolute;
  right: 50.28%;
  top: 40%;
}

.radio-ingredient {
  align-items: flex-end;
  bottom: 37.89%;
  display: flex;
  font-family: Handlee , cursive;
  font-size: 16px;
  font-style: normal;
  left: 7.22%;
  line-height: 21px;
  position: absolute;
  right: 67.78%;
  top: 40%;

}

.font {
  align-items: flex-end;
  bottom: 37.89%;
  color: black;
  display: flex;
  font-family: Handlee , cursive;
  font-size: 16px;
  left: 36.11%;
  line-height: 21px;
  position: absolute;
  right: 50.28%;
  top: 40%;
} */
