.carousel-container {
  height: 40vh;
  width: 100vw;
}

.recipies-list {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.recipe-card {
  flex: none;
  scroll-snap-align: start;
  width: 50vw;
}

.card-item > img {
  height: 100%;
  width: 90%;
}
