.carousel-container {
  height: 40vh;
  margin-bottom: 5vh;
  margin-left: 2.5vw;
  width: 100vw;
}

.recipies-list {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.recipe-card {
  flex: none;
  scroll-snap-align: start;
  width: 50vw;
}

.card-item > img {
  border-radius: 2vh;
  height: 100%;
  width: 90%;
}

.card-item > span {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .card-item {
  visibility: visible;
} */
