html {

  --background: #e4b358d2;

  --black: #0d114f;

}

.login-container {
  height: 100vh;
  width: 100vw;
}

.login-form {
  align-items: center;
  background-color: var(--background);
  color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
