.radio-search-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  justify-content: space-between;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  position: fixed;
  top: 10;


}

.radio-search-bar input {
  border: none;
  border-radius: 5%;
  margin: 5px 2px 0;
  padding: 0.3rem;
}

.radio-search-bar button {
  background-color: #ffd166;
  border: none;
  border-radius: 10%;
  padding: 0.3rem;
}
