.grid {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  margin: 1rem;
  margin-bottom: 5rem;
  max-width: 100vw;
}

.card {
  margin: 0.5rem;
  min-height: 45%;
}

.card-name {
  color: rgb(0, 123, 255);
  font-weight: 400;
  margin: 0;
  text-align: center;
}
