.header-container {
  width: 100%;
}

.header-top {
  align-items: center;
  background-color: #ffc529;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.header-top button {
  background-color: transparent;
  border: none;
}
