.header-parent {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100vw;
}

.header-parent:first-child {
  margin-left: 0;
}

.main-header {
  align-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) , 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.8rem;
  width: 100vw;
}

.header-parent h2 {
  font-size: 1.5rem;
  margin: auto;
}
