.header-container {
  width: 100%;
}

.header-top {
  align-items: center;
  background-color: #ffc529;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.header-top button, .header-top div {
  background-color: transparent;
  border: none;
  width: 30px;
}
