.category-button {
  align-items: flex-start;
  background-color: whitesmoke;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 25vh;
  justify-content: flex-start;
  margin-top: 15px;
  width: 90%;
}

.category-buttons {
  background-color: #eee;
  height: 20px;
  left: 0;
  top: 0;
  text-align: center;
  width: 20px;
}