@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.category-button {
  align-items: flex-start;
  background-color: whitesmoke;
  border-radius: 8px;
  display: flex;
  flex-flow: column wrap;
  height: 8vh;
  justify-content: flex-start;
  margin-top: 15px;
  width: 90%;
}

.category-buttons {
  background-color: #eee;
  height: 12px;
  text-align: center;
}

.category-button input {
  margin-top: 5px;
}
