* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

img {
    opacity: 0.8;
    border-radius: 5px;
    width: 90%;
}

img:hover {
    opacity: 1;
    border-radius: 5px;
}

.cards ul { 
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 15px;
    width: 100%;
}

.cards ul li {
    margin-left: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.main-foods {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recipe-card {
    margin: 15px 6px;
    background-color: gray;
    width: 29%;
    align-items: center;
    display: flex;
    justify-content: center;
}
