@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.details-header-img {
  width: 100vw;
}

.details-header-middle {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.toast {
  background-color: white;
  left: 50%;
  position: fixed;
  top: 0;
}
