@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.details-header-img {
  margin-top: 20px;
  width: 90vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.details-header-middle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.details-header-middle h1 {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.toast {
  /* background-color: white; */
  background-color: #DB5461;
  left: 50%;
  position: fixed;
  top: 0;
}

.buttons-container img {
  background-color: whitesmoke;
  width: 70%;
}

.buttons-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

@media screen and ( min-width: 769px) {

  .details-header-img {
    width: 40vw;
  }
  
  .details-header-middle {
    margin: 0 200px;
  }
  
}