@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.explorar-comidas {
  align-items: center;
  display: flex;
  flex-direction: column;
}


.explorar-comidas-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}
