* {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5px;
  margin-right: 15px;
  width: 90%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.select-align {
  margin: 15px;
}

.main-area {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  width: 100%;
}

.main-food-list {
  margin-right: 50px;
}
