@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

ul {
  display: flex;
  flex-wrap: wrap;
}

.main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-food-list {
  width: 92%;
}

.label-select {
  margin: 20px;
}