@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.explorar-comidas-ing {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container-ing-foods {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
  height: 150vh;
}