@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.favorite-recipe-card {
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.favorite-recipe-card a img {
  height: 100%;
  width: 100px;
}

.favorite-recipe-card p {
  margin: 0;
}

.favorite-recipe-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.horizontal-top-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.favorite-card-buttons-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
