@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.footer {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
}

.footer img {
  margin-top: 10px;
}

