@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.footer {
  align-items: center;
  /* border: solid 1px black; */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  height: auto;
  position: fixed;
  width: 91%;
  top: 90%
}

.footer img {
  width: 30px;
  margin-bottom: 30px;
}

