@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.footer {
  background-color: rgb(40,40,40);
  bottom: 0;
  display: flex;
  height: auto;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer img {
  padding: 0%;
  margin-top: 5px;
  width: 30px;
}

