@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login {
  margin-top: 100px;
}

.logologin {
  width: 200px;
}

button {
  width: 200px;
}

.form-login h2 {
    font-size: 20px;
} 
