@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

input, button {
  border-radius: 5px;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  /* border: solid 1px red; */
  width: 100%;
}

.header-searchbar-container {
  /* border: solid 1px black; */
  color: aquamarine;
  background-color: rgb(30,30,30);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 20vh;
  margin-top: 10px;
  margin-left: 15px;
  width: 90%;
}


.header-search-button {
  width: 30px;
}

.form-searchbar {
  display: flex;
}

.profile-image {
  filter: invert(0%);
}