@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.ingredients-checkbox-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.checkbox-container {
  align-items: center;
  display: flex;
}

.crossed {
  text-decoration: line-through;
}
