* {
    font-size: large;
}

input {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.FormLogin {
    display: flex;
    justify-content: space-evenly;
}

