.done-recipes-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.buttons-done {
  margin-top: 30px;
}

.done-cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

