@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.recipe-card {
  border-radius: 8px;
  height: 25vh;
  margin-top: 15px;
  width: 100%;
}

.recipe-card img {
  margin: 5px;
}

p {
  color: black;
}