.form-searchbar {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  /* border: solid 1px red; */
}

.control {
  margin: 10px;
}

.radio-inputs {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 97%;
}

