:root {

  --orange-main-color: #ff6700;

  --primary-background-color: #1f1f1f;

  --secondary-background-color: #363636;

  --black: black;

  --clr-neon: #ecc01f;

  --font-color: #eaeaea;
}

.favorite-img {
  border-radius: 100px;
  width: 150px;
}

.render-card {
  align-items: center;
  border: solid 2px var(--clr-neon);
  border-radius: 20px;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon) , 0 0 0.5em 0 var(--clr-neon);
  display: flex;
  flex-flow: column;
  max-height: 290px;
  width: 170px;
}

.buttons-share-fav {
  background: none;
  border-style: none;
  margin-left: 25px;
  margin-top: 10px;
  outline: none;
}

.buttons-list-favRecipe {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-left: 28vw;
  margin-top: 70px;
}

.component {
  display: flex;
  flex-flow: row wrap;
}

.test {
  background-color: var(--primary-background-color);
  display: flex;
  flex-flow: row wrap;
}

.info-favRecipe {
  text-align: center;
}
