.footer {
  bottom: 0px;
  color: white;
  background-color: #9c6335;
  height: 7vh;
  border: none;
  width: 100%;
  font-weight: 700;
  position: fixed;
  margin-bottom: 0px;
}

.footer:disabled {
  background-color: #9c63358e;
}

.hide-button {
  visibility: hidden;
}
