html {

  --background: #9c6335;

  /* --black: #fff; */

}

header, footer {
  align-items: center;
  background-color: var(--background);
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5vh;
}
