.m-Header {
  align-items: center;
  background-color: #C4C4C4;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.m-Header button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  outline: inherit;
  padding: 0;
}