.ingredientCard__container {
  width: 45%;
}

.ingredientCard__img {
  width: 100%;
}

.ingredientCard__title {
  font-size: 1em;
  margin-bottom: 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
