.recipe-img {
  border-radius: 6px 6px 0 0;
  height: 109px;
  position: absolute;
  width: 161px;
}

.recipe-name {
  align-self: center;
  bottom: 0;
  color: black;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 2;
  height: 21px;
  line-height: 21px;
  position: absolute;
  width: 110px;
}

.card {
  align-items: center;
  border-color: black;
  border-radius: 6px 6px 0 0;
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  height: 172px;
  justify-content: space-around;
  width: 161px;
  z-index: -1;
}

.card-list {
  align-content: space-around;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.component {
  align-items: center;
  display: flex;
  flex-direction: column;
}
