.recipeContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  width: 335px;
  z-index: 0;
}

.recipeImg {
  align-self: center;
  border: solid 2px rgb(255, 145, 0);
  border-radius: 40px 40px 0;
  box-shadow: 6px 8px rgb(255, 145, 0, 0.6);
  margin-bottom: 3px;
  margin-right: 1px;
  margin-top: 3px;
  opacity: 1;
  transition: 100ms;
  width: 160px;
}


.recipeImg:hover {
  opacity: 0.8;
}

.recipeContainer h5 {
  color: rgb(39, 21, 0);
  font-family: Montserrat , Courier , monospace;
  font-weight: 600;
  text-align: center;
}
