.input {
  margin: 20px auto;
  max-width: 90%;
}

.btn-div {
  display: flex;
  justify-content: center;
}

img {
  height: auto;
  width: 100%;
}

.btn-custom {
  background-color: #334031;
  color: #c2e1c2;
}
