.buttons-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 130px;
  width: 100%;
}

.buttons {
  background-color: #ffd166;
  border: none;
  border-radius: 5%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 2px auto;
  padding: 0.5rem;
  text-align: center;
  width: 300px;
}

.profile-email {
  font-size: 24px;
  font-weight: 200;
  margin-left: 10px;
  margin-top: 10px;
}
