.list-main-recipes {
  display: flex;
  flex-flow: row wrap;
}

.recipe-card {
  display: flex;
  flex-flow: column;
  margin: 10px;
  width: 40%;
}

.recipe-card > p {
  margin-top: 5px;
  text-align: center;
}
