.list-main-recipes {
  display: flex;
  flex-flow: row wrap;
}

.recipe-card {
  display: flex;
  flex-flow: column;
  margin: 10px;
  width: 40%;
}

.recipe-card > p {
  margin-top: 5px;
  text-align: center;
}

.categories-btns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0 20px;
  margin-top: 70px;
}

.categories-btns > button {
  margin: 10px;
  width: 80px;
}

.categories-btns > div > button {
  margin: 10px;
  width: 80px;
}
