.main-container {
  align-items: center;
  background-color: #ede7d9;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.list-main-recipes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 15px 0;
}

.recipe-card {
  background-color: white;
  border-radius: 5%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column;
  height: 200px;
  margin-bottom: 15px;
  width: 150px;
}

.recipe-card > p {
  color: black;
  font-size: 15px;
  font-weight: 200;
  padding: 0.5rem;
  text-align: center;
}

.categories {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  width: 100%;
}

.categories button {
  background-color: white;
  border: none;
  border-radius: 5%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 2px;
  padding: 0.5rem;
  text-align: center;
  width: 150px;
}

.category-title {
  font-size: 24px;
  font-weight: 500;
  opacity: 50%;
  padding: 0.5rem;
}
