.list-main-recipes {
  display: flex;
  flex-flow: row wrap;
}

.recipe-card {
  margin: 10px 10px;
  display: flex;
  flex-flow: column;
  width: 40%;
}

.recipe-card > p {
  text-align: center;
  margin-top: 5px;
}