.recommendCard {
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 5px;
  width: 40vw;
}

.recommendCard img {
  border-radius: 0.6rem;
  height: 200px;
  object-fit: fill;
  overflow: hidden;
  width: 40vw;
}

.recommendCard h3 {
  overflow: hidden;
  padding-bottom: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recommendsList {
  display: flex;
  margin: 10px 30px;
  overflow-x: scroll;
}

.playRecipe {
  bottom: 0%;
  height: 76px;
  left: 13px;
  position: fixed;
  width: 339px;
}
