.ingredient-container {
  @include flex(row, center, center);
  flex-wrap: wrap;
}

.ingredient-card {
  width: 45%;
  height: 180px;
  border-radius: $border-radius;
  box-shadow: $shadow;
  margin: 10px;
  background-color: white;
  p {
    color: $textcolor;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
  }
}