$basecolor: #ffc363;
$secondcolor: #ff722a;
$textcolor: rgb(27, 27, 27);
$shadow: 1px 1px 5px rgba(189, 189, 189, 0.438);
$border-radius: 5px;


@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border() {
  border: solid black 0.5px;
  border-radius: $border-radius;
}
