$basecolor: #FFC363;
$secondcolor: #FF722A;
$textcolor: rgb(27, 27, 27);
$shadow: 1px 1px 5px rgb(189, 189, 189);
$border-radius: 5px;


@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border() {
  border-radius: $border-radius;
  border: solid black 0.5px;
}

// @mixin btn() {
//   border-radius: $border-radius;
//   border: solid black 0.5px;
// }
