.aria-conteiner {
  margin-bottom: 60px;
  width: 100%;
}

.carousel-sbt {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
}

.recommendation-img {
  width: 100%;
}

.card-container {
  border-radius: 5px;
  flex: none;
  margin-right: 10px;
  width: 48%;
}
