.titleImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.loginButtonsGroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 110px;
}

.login-word {
  background-color: #fbffb9;
  color: #ec7357;
  font-family: Raleway , sans-serif;
  font-size: 28px;
  font-weight: 400;
  height: 48px;
  left: 30px;
  line-height: 35px;
  margin: 8px;
  text-align: center;
  top: 231px;
  width: 293px;
}

.loginButton {
  background-color: #ec7357;
  border: none;
  color: #fbfbb9;
  font-family: Raleway , sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 600;
  height: 67px;
  left: 23px;
  line-height: 34px;
  margin: 8px;
  text-align: center;
  top: 463px;
  width: 293px;
}

.input {
  background-color: #fbffff;
  border: 1px solid #ec7357;
  border-style: solid;
  box-sizing: border-box;
  color: #754f44;
  font-family: Raleway , sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 58px;
  left: 30px;
  margin: 10px;
  position: unset;
  top: 291px;
  width: 293px;
}

.gifLogin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
