@import './utils';
@import './login';
@import './favoritos';
@import './feitos';
@import './search';
@import './pagDetalhes';
@import './pagProcesso';

.header { 
  width: 100%;
  height: 50px;
  background-color: $basecolor;
  box-shadow: $shadow;
  @include flex(row, space-between, center);
  button {
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
  }
  h3 {
    font-weight: bold;
  }
}

.category-buttons {
  @include flex(row, center, center);
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  button {
    width: 150px;
    height: 40px;
    background-color: $basecolor;
    border-radius: $border-radius;
    border-style: none;
    margin: 5px;
    box-shadow: $shadow;
    &:hover {
      background-color: $secondcolor;
    }
  }
}

.recipe-container {
  @include flex(row, center, center);
  flex-wrap: wrap;
}

.recipe-card {
  width: 45%;
  height: 180px;
  border-radius: $border-radius;
  box-shadow: $shadow;
  margin: 10px;
  background-color: white;
  p {
    color: $textcolor;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 10px;
  }
}

.img-crop {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 120px;
  background-color: pink;
  border-radius: $border-radius;
  
  img {
    width: 100%;
    height: 120px;
    object-fit:cover;
  }
}


.explore {
  @include flex(column, center, center);
  margin-top: 20px;
  button {
    border-style: none;
    width: 500px;
    height: 80px;
    background-color:white;
    border-radius: $border-radius;
    box-shadow: $shadow;
    margin-bottom: 20px; 
  }
}

.perfil {
  @include flex(column, center, center);
  margin-top: 50px;
  span {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  button {
    border-style: none;
    width: 300px;
    height: 50px;
    background-color: $basecolor;
    border-radius: $border-radius;
    box-shadow: $shadow;
    margin-bottom: 20px; 
  }
}