.login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFC363;
}

.login h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.login img {
  width: 410px;
  margin: 0 auto;
}

.login-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.login-box h5 {
  color: #FF722A;
  font-weight: bold;
}

.login-box input {
  border-radius: 5px;
  border: solid black 0.5px;
  width: 220px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.308);
}

.login-box button {
  width: 220px;
  height: 35px;
  border-style: none;
  background-color: #FF722A;
  color: white;
  border-radius: 5px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: white;
  height: 150px;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
}

.search-input {
  margin-top: 20px;
}

.search-input input {
  border-radius: 5px;
  border: solid black 0.5px;
  background-color: white;
  width: 400px;
}

.search-radio label {
  margin: 10px;
}

.search-radio input {
  border-radius: 5px;
  border: solid black 0.5px;
  background-color: white;
}

.search-btn button {
  border-style: none;
  background-color: #FFC363;
  border-radius: 5px;
  width: 150px;
  height: 35px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #FFC363;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header button {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
}

.header h3 {
  font-weight: bold;
}

.category-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

.category-buttons button {
  width: 150px;
  height: 40px;
  background-color: #FFC363;
  border-radius: 5px;
  border-style: none;
  margin: 5px;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
}

.category-buttons button:hover {
  background-color: #FF722A;
}

.recipe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recipe-card {
  width: 45%;
  height: 180px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  margin: 10px;
  background-color: white;
}

.recipe-card p {
  color: #1b1b1b;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
}

.img-crop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 120px;
  background-color: pink;
  border-radius: 5px;
}

.img-crop img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.explore button {
  border-style: none;
  width: 500px;
  height: 80px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  margin-bottom: 20px;
}

.perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.perfil span {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.perfil button {
  border-style: none;
  width: 300px;
  height: 50px;
  background-color: #FFC363;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */