.login {
  background-color: #ffc363;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login h1 {
  color: white;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}

.login img {
  margin: 0 auto;
  width: 410px;
}

.login-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

.login-box h5 {
  color: #ff722a;
  font-weight: bold;
}

.login-box input {
  border: solid black 0.5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.308);
  height: 35px;
  width: 220px;
}

.login-box button {
  background-color: #ff722a;
  border-radius: 5px;
  border-style: none;
  color: white;
  height: 35px;
  width: 220px;
}

.search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  height: 150px;
  width: 100%;
}

.search-input {
  margin-top: 20px;
}

.search-input input {
  border: solid black 0.5px;
  border-radius: 5px;
  background-color: white;
  width: 400px;
}

.search-radio label {
  margin: 10px;
}

.search-radio input {
  border: solid black 0.5px;
  border-radius: 5px;
  background-color: white;
}

.search-btn button {
  background-color: #ffc363;
  border-radius: 5px;
  border-style: none;
  height: 35px;
  width: 150px;
}

.img-bg {
  height: 600px;
  width: 100%;
}

.header-progress {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  height: 100px;
  padding: 20px;
}

.header-progress h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.header-progress p {
  font-weight: bold;
}

.header-progress button {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

.checkbox {
  background-color: white;
  padding: 5px 20px;
  width: 100%;
}

.p-progress {
  padding: 20px;
}

.btn-finalizar {
  background-color: #ff722a;
  border-style: none;
  color: white;
  font-weight: bold;
  height: 50px;
  margin: 20px;
  width: 90%;
}

.ingredient-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ingredient-card {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  height: 180px;
  margin: 10px;
  width: 45%;
}

.ingredient-card p {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.header {
  background-color: #ffc363;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header button {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
}

.header h3 {
  font-weight: bold;
}

.category-buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 10px;
}

.category-buttons button {
  background-color: #ffc363;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  height: 40px;
  margin: 5px;
  width: 150px;
}

.category-buttons button:hover {
  background-color: #ff722a;
}

.recipe-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recipe-card {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  height: 180px;
  margin: 10px;
  width: 45%;
}

.recipe-card p {
  color: #1b1b1b;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.img-crop {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: pink;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 120px;
}

.img-crop img {
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.explore {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.explore button {
  background-color: white;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  height: 80px;
  margin-bottom: 20px;
  width: 500px;
}

.perfil {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.perfil span {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.perfil button {
  background-color: #ffc363;
  border-radius: 5px;
  border-style: none;
  -webkit-box-shadow: 1px 1px 5px #bdbdbd;
          box-shadow: 1px 1px 5px #bdbdbd;
  height: 50px;
  margin-bottom: 20px;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */