.footer-container {
  bottom: 0;
  margin: 0;
  position: fixed;
  right: 0;
  width: 100vw;

}

.footer {
  align-items: center;
  background-color: rgb(252, 252, 113);
  display: flex;
  justify-content: space-around;
  margin: 0;
  min-height: 10vh;
  text-align: center;
}
