.backGround {
    background-color: purple;
    height: 100%;
    width: 360px;
}

#food-picture {
    width: 360px;
    height: 170px;
    border-radius: 5px;
}

.like-share-container {
  background-color: #FB8B24;
  border-radius: 15px;
  flex: display;
  width: 110px;
  height: 44px;
}

#title-container {
  width: 300px;
  height: 82px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#ingredients {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#botao-finalizar-receita {
  border-radius: 15px;
  width: 136px;
  height: 46px;
  background-color: #FB8B24;
  color: #4B0740;
  margin-left: 160px;
  position: static;
}

#instructions {
  margin: 20px 20px;
  color: #EE9EE1;
}

#video {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 168.75px;
  margin-bottom: 20px;
}

#recomendedId-container {
  margin-top: 10px;
  margin-left: 20px;
  color: #FB8B24;
  margin-bottom: 100px;
}

#recomended-container {
  width: 300px;
  height: 154px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.recomended {
  width: 132px;
  height: 125px;
  border-start-start-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #EE9EE1;
}

.recomended-name {
  background-color: #721D64;
  color: #EE9EE1;
  width: 132px;
  height: 29px;
  position: absolute;
  border-end-end-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  padding-left: 10px;
  padding-top: 2px;
}
