.explore-page {
  display: flex;
  height: 93.3vh;
  align-content: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--primary-background-color);
}

.buttonsExplore {
  display: flex;
  padding-bottom: 300px;
  margin-left: -10px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.buttonsExplore button {
  background-color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon) , 0 0 0.5em 0 var(--clr-neon);
  color: var(--secondary-background-color);
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.25em 1em;
  position: relative;
  text-decoration: none;
  width: max-content;
  z-index: 1;
  margin-top: 30px;
}