.buttons-explore {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.button {
  font-size: 20px;
  margin-top: 5rem;
  padding: 1.2rem;
}

a:hover .button {
  color: #d7d7d7;
}

