.buttons {
  align-items: center!important;
  align-self: center!important;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
}


.button {
  font-size: 20px;
  margin-top: 5rem;
  padding: 1.2rem;
}

a:hover .button {
  color: #d7d7d7;
}

