.carousel-container {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 45px;
  width: 80%;
 /*  background-color: yellow; */
}

.carousel {
  display: none;
  margin: auto;
  width: 300px;
  height: 100%;
/*   border: 2px solid black; */
  margin-bottom: 10px;
}

.carousel > div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.carousel > div > p {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.carrousel-btn {
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: 700;
}

.btn-content {
  align-items: center;
  display: flex;
  height: 100%;
}

.active {
  display: unset;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}

.disappear-btn {
  display: none;
}
