* {
  background-color: rgb(255, 199, 44);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.login-form {
  background-color: rgb(255, 199, 44);
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  height: 640px;
  margin-top: 15px;
  position: relative;
  text-align: center;
}

.text-center {
  align-self: center;
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-color: rgb(39, 37, 31);
  border-radius: 60px;
  font-size: 70px;
  font-weight: 800;
  height: 300px;
  margin-bottom: 40px;
  padding-bottom: 120px;
  padding-top: 60px;
  width: 300px;
}


.form-input {
  background-color: rgb(255, 199, 44);
  border: 3px solid black;
  border-color: rgb(39, 37, 31);
  color: rgb(218, 41, 28);
  font-size: 20px;
  font-weight: 900;
}

.form-input:focus {
  background-color: rgb(255, 199, 44);
  font-weight: 800;
}

.form-button {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-color: rgb(39, 37, 31);
  color: rgb(251, 202, 65);
  font-size: 35px;
  font-weight: 700;
  width: 100%;
}

.form-button:disabled {
  background-color: rgb(218, 41, 28);
}

.header-class {
  align-content: flex-start;
  align-items: center;
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 360px;
}

.page-title {
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  font-size: 32px;
  font-weight: 1000;
}

.headerIcon {
  background-color: rgb(218, 41, 28);
  border-color: rgb(253, 186, 0);
  border-style: none;
  color: white;
  width: 50px;
}


.background {
  background-color: rgb(255, 199, 44);
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.category-container {
  background-color: rgb(255, 199, 44);
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3px;
  width: 360px;
}

.categoryBtn {
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(218, 41, 28);
  font-size: 18px;
  font-weight: 1000;
  margin-bottom: 5px;
  transition: 0.5s;
  width: 115px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: wrap;
}

.categoryBtn:hover, .categoryBtn:active {
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  transform: scale(1.2);
}

.meals-container {
  background-color: rgb(255, 199, 44);
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 40px;
  width: 340px;
}

.meals-card {
  background-color: rgb(218, 41, 28);
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: 200px;
  justify-content: space-around;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 160px;
}


.meals-link {
  align-content: center;
  border-radius: 15px;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

.meals-title {
  align-self: center;
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  font-size: 3vmax;
  font-weight: 800;
  max-height: 42px;
  overflow: hidden;
  resize: horizontal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: wrap;
}

.main-page-card-img {
  align-self: center;
  border: 3px solid black;
  border-radius: 10px;
  max-height: 65%;
  max-width: 90%;
  object-fit: fill;
}

.footer-menu {
  background-color: rgb(218, 41, 28);
  border-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 360px;
}

.footer-links {
  background-color: rgb(218, 41, 28);
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
}

.footer-btn {
  background-color: rgb(218, 41, 28);
  border: 1px solid black;
}

/* Details Page */
.details-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-header {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-img {
  align-self: center;
  border: 3px solid black;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
}

.details-name-btns {
  align-items: center;
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.details-name {
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
}

.details-btns {
  align-self: center;
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
}

.details-btn {
  align-self: center;
  background-color: rgb(255, 199, 44);
  border: 3px solid black;
  border-radius: 5px;
  color: rgb(255, 199, 44);
  height: 50px;
  margin-left: 20px;
  width: 50px;
}

.details-span {
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
}

.details-category {
  align-self: center;
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.details-ingredients {
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 360px;
}

.details-ingredient-title {
  background-color: rgb(218, 41, 28);
  border-bottom: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  width: 100%;
}

.details-ingredient-list {
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.details-ingredient {
  border-radius: 10px;
  color: rgb(218, 41, 28);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.details-instructions {
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(218, 41, 28);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-align: center;
}

.details-instructions-title {
  background-color: rgb(218, 41, 28);
  border-bottom: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  text-align: center;
  width: 90%;
}

.card-video {
  align-self: center;
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  height: auto;
  margin-left: 5px;
  margin-top: 10px;
  width: 350px;
}

.recommendation-container {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  height: 250px;
}

.card-container {
  background-color: rgb(218, 41, 28);
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.recomendation-div {
  background-color: rgb(218, 41, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recomendation-title {
  align-self: center;
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  font-size: 18px;
}

.start-recipe-btn {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  font-size: 20px;
  height: auto;
  width: 200px;
}

.recommendation-img {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  height: auto;
  width: 150px;
}

.inProgress-ingredients-container {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* inProgress page */
.inProgress-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inProgress-ingredient-title {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  text-align: center;
}

.inProgress-ingredient-row {
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
  margin-bottom: 3px;
}

.inProgress-ingredient {
  align-content: center;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
}

.inProgress-ingredient-item {
  align-content: center;
  color: rgb(218, 41, 28);
  display: flex;
  flex-direction: row;
  font-weight: 600;
  justify-content: center;
}

.inProgress-checkbox {
  background-color: rgb(218, 41, 28);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inProgress-div-btn {
  display: flex;
  justify-content: center;
}

.finish-recipe-btn {
  align-self: center;
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  font-size: 20px;
  height: auto;
  margin-top: 3px;
  width: 200px;
}

.finish-recipe-btn:disabled {
  background-color: rgb(218, 41, 28, 0.3);
}

/* doneRecipes page */
.doneRecipes-div {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.recipes-done-cards {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin-left: 15px;
}

.doneRecipes-container {
  background-color: rgb(255, 199, 44);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 160px;
}

.doneRecipes-card {
  background-color: rgb(218, 41, 28);
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  height: 310px;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 160px;
}


.doneRecipes-link {
  align-content: flex-start;
  align-self: center;
  border-radius: 15px;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}

.doneRecipes-title {
  align-self: center;
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  font-size: 3vmax;
  font-weight: 800;
  max-height: 42px;
  overflow: hidden;
  resize: horizontal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: wrap;
}

.doneRecipes-card-img {
  align-self: center;
  border: 3px solid black;
  border-radius: 10px;
  max-height: 65%;
  max-width: 90%;
  object-fit: fill;
}

.doneRecipes-img {
  align-self: center;
  width: 100px;
}

.doneRecipes-text {
  align-self: center;
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  font-size: 20px;
  margin-bottom: 0;
}

/* favorite Recipes */
.favoriteRecipes-div {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.recipes-favorite-cards {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin-left: 15px;
}

.favoriteRecipes-container {
  background-color: rgb(255, 199, 44);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 160px;
}

.favoriteRecipes-card {
  background-color: rgb(218, 41, 28);
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  height: 270px;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 160px;
}


.favoriteRecipes-link {
  align-content: flex-start;
  align-self: center;
  border-radius: 10px;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  height: 150px;
  justify-content: center;
}

.favoriteRecipes-title {
  align-self: center;
  background-color: rgb(218, 41, 28);
  border-radius: 10px;
  color: rgb(255, 199, 44);
  font-size: 3vmax;
  font-weight: 800;
  max-height: 42px;
  overflow: hidden;
  resize: horizontal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: wrap;
}

.favoriteRecipes-card-img {
  align-self: center;
  border: 3px solid black;
  border-radius: 10px;
  max-height: 65%;
  max-width: 90%;
  object-fit: fill;
}

.favoriteRecipes-img {
  align-self: center;
  width: 100px;
}

.favoriteRecipes-text {
  align-self: center;
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  font-size: 20px;
  margin-bottom: 0;
}

.share-favorite {
  border: 3px solid black;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 10px;
  width: 160;
}

/* Profile page */
.profile-div {
  align-content: center;
  display: flex;
  justify-content: flex-start;
}

.profile-email {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-top: 3px;
  text-align: center;
  width: 360px;
}

.profile-links {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  width: 360px;
}

.profile-btns {
  background-color: rgb(218, 41, 28);
  border: none;
  border-radius: 5px;
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin-left: 30px;
  margin-top: 3px;
  text-align: center;
  width: 250px;
}

/* SearchBar */
.searchBar-div {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  margin-top: 3px;
}

.searchBar-input {
  background-color: rgb(255, 199, 44);
  border: 3px solid black;
  border-radius: 5px;
  color: rgb(218, 41, 28);
  font-size: 20px;
  font-weight: 900;
  margin-left: 30px;
  margin-top: 3px;
  text-align: center;
  width: 300px;
}

.searchBar-radio {
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  margin-right: 20px;
  margin-top: 10px;
}

.searchBar-radio-div {
  background-color: rgb(218, 41, 28);
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.searchBtn {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  font-size: 20px;
  height: auto;
  margin-bottom: 3px;
  margin-left: 60px;
  text-align: center;
  width: 200px;
}

.searchBar-col-row {
  background-color: rgb(218, 41, 28);
  border-radius: 10px;
}

/* explore */
.explore-btns {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 10px;
  color: rgb(255, 199, 44);
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
  width: 360px;
}

.exploreRecipes-div {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  margin-left: 7px;
  width: 350px;
}

.exploreRecipes-card {
  background-color: rgb(218, 41, 28);
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  height: 200px;
  justify-content: flex-start;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 160px;
}

.exploreRecipes-link {
  align-content: center;
  align-self: center;
  background-color: rgb(218, 41, 28);
  border-radius: 10px;
  border-style: none;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  justify-content: center;
  width: 140px;
}

.exploreRecipes-title {
  align-self: center;
  background-color: rgb(218, 41, 28);
  border-radius: 10px;
  color: rgb(255, 199, 44);
  font-size: 3.5vmax;
  font-weight: 800;
  max-height: 50px;
  overflow: hidden;
  resize: horizontal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: wrap;
}

.exploreRecipes-card-img {
  align-self: center;
  background-color: rgb(255, 199, 44);
  border: 3px solid black;
  border-radius: 5px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-top: 20px;
  max-height: 65%;
  max-width: 90%;
  object-fit: fill;
}

.explore-select {
  background-color: rgb(218, 41, 28);
  border: 3px solid black;
  border-radius: 5px;
  color: rgb(255, 199, 44);
  font-size: 20px;
  font-weight: 900;
  margin-top: 10px;
  text-align: center;
  width: 360px;
}

.explore-select option {
  background-color: rgb(218, 41, 28);
}

.explore-container {
  margin: 0;
}
