footer {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

header {
  align-items: center;
  background-color: #999;
  display: flex;
  justify-content: center;
}

header > span {
  font-size: 24px;
  font-weight: 700;
}

header > button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 10px 15px;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

