:root {

  --orange-main-color: #ff6700;

  --primary-background-color: #1f1f1f;

  --secondary-background-color: #363636;

  --black: black;

  --clr-neon: #ecc01f;

  --font-color: #eaeaea;
}

* {
  font-family: Montserrat Alternates , sans-serif;
}


.login {
  align-items: center;
  background-image: linear-gradient(to top, var(--primary-background-color), #111, black);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.iconsHeader {
  background-color: transparent;
  border-style: none;
}

.header {
  align-items: center;
  background-color: var(--black);
  color: var(--font-color);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}

.footer {
  align-items: center;
  background-color: var(--black);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 0.35rem;
  position: sticky;
  width: 100%;
  z-index: 99;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.button-to-filter { /* button style src: https://www.youtube.com/watch?v=6xNcXwC6ikQ */
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon) , 0 0 0.5em 0 var(--clr-neon);
  color: var(--secondary-background-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin-left: 10px;
  padding: 0.25em 1em;
  position: relative;
  text-decoration: none;
  width: max-content;
  z-index: 1;
}

.buttons-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 2vh;
  margin-top: 50px;
  overflow-x: scroll;
  padding: 10px;
  width: 85%;
}

.button-filters-container {
  background-color: var(--primary-background-color);
  padding-left: 20px;
  padding-top: 4rem;
}

.recipe-list-img {
  border-radius: 0.5rem;
  width: 50vw;
}

.recipe-list-title {
  color: var(--font-color);
  font-size: 1.5rem;
  padding-top: 0.5rem;
  position: relative;
}

.card-recipes {
  background-clip: border-box;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 11.4rem;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
}

.card-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipelist-div {
  background-color: var(--primary-background-color);
}

.li-recipelist {
  margin: 10px;
}

.searchbar-container {
  align-items: center;
  background-color: var(--primary-background-color);
  color: var(--font-color);
  margin-top: 50px;
  padding-top: 1.5rem;
}

.searchbar-container input {
  width: 65%;
}

.searchbar-container button {
  background-color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon) , 0 0 0.5em 0 var(--clr-neon);
  color: var(--secondary-background-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25em 1em;
  text-decoration: none;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3) , 0 0 0.45em currentColor;
}

.searchbar-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.meal-and-drink {
  background-color: var(--primary-background-color);
}

.other-pages {
  align-content: space-between;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

input.search {
  background-color: var(--secondary-background-color);
  outline: 1px solid black;
  padding-right: 0.125em;
}

.radio-buttons label {
  margin-left: 10px;
}
