.title-header {
  font-size: 30px;
}

.buttonsExplore {
  margin-top: 50px;
}

.meals {
  align-items: center;
  background: #0b2638;
  color: #d1d1d1;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.iconsHeader {
  background-color: transparent;
  border-style: none;
}

.header {
  align-items: center;
  background-color: #550788;
  color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  align-items: center;
  background-color: #550788;
  bottom: 0;
  color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.food-page {
  align-content: space-between;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

.Buttom-filters {
  align-items: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 48px;
}

.buttons-list {
  align-content: space-around;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  align-self: center;
  border-radius: 6px;
  display: flex;
  height: 25px;
  width: 90px;
}

.recipe-img {
  border-radius: 6px;
  height: 109px;
  position: absolute;
  width: 161px;
}

.recipe-name {
  align-self: center;
  bottom: 0;
  color: black;
  display: flex;
  font-size: 18px;
  height: 21px;
  line-height: 21px;
  position: absolute;
  width: 110px;
}

.card {
  align-items: center;
  border-color: black;
  border-radius: 6px;
  display: flex;
  flex-flow: column wrap;
  height: 80px;
  justify-content: space-around;
  width: 60px;
  z-index: -1;
}

.card-list {
  align-content: space-around;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.component {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 115px;
}

.searchbar-form {
  align-items: center;
}

.searchbar-container {
  margin-top: 50px;
  text-align: center;
}

.search {
  width: 90vw;
}

.drop-down {
  align-self: center;
  display: flex;
  height: 60px;
  position: relative;
  top: 50px;
  width: 357px;
}
