.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

body {
  background-image: radial-gradient(rgba(255, 255, 100, 0.2), rgb(255, 195, 105, 0.4));
  background-repeat: repeat;
  background-size: contain;
  font-weight: 600;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-btn {
  border-radius: 3px;
  bottom: 0;
  position: fixed;
}


/*
.recipeCard {
  background-color: #fbd53b;
  border: groove 1px;
  border-radius: 20px;
  box-shadow: 7px 10px rgba(24, 23, 23, 0.63);
  display: flex;
  flex-direction: column;
  margin: 5px;
  text-align: center;
  width: 150px;
} */

.instructions {
  margin: 4px;
  text-align: justify;
}

.detImg {
  align-content: space-around;
  display: flex;
  justify-content: space-around;
  width: 345px;
}

.loginForm {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.849);
  background-image: url('https://media.giphy.com/media/Buva2aomcuXBAD07PC/giphy.gif');
  background-repeat: round;
  display: flex;
  flex-flow: column;
  height: 640px;
  justify-content: center;
}

.avatar {
  border: 2px rgba(255, 0, 0, 0.326);
  border-radius: 60px;
  border-style: groove;
  margin-bottom: 25px;
  width: 100px;
}

.title {
  background-color: rgba(255, 0, 0, 0.658);
  border-radius: 50px;
  color: orange;
  font-size: 25pt;
  margin-bottom: 60px;
  padding: 4px;
}

.userInputs {
  border: none;
  border-radius: 10px;
}

.title, .userInputs {
  font-family: Segoe UI , Tahoma , Geneva , Verdana , sans-serif;
  text-align: center;
}

.recommended {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.recommendedCard input {
  border-radius: 100px;
  margin: 5px;
  width: 180px;
}
