.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

footer {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding-bottom: 7px;
  padding-top: 7px;
  position: fixed;
  width: 100%;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-btn {
  border-radius: 3px;
  bottom: 0;
  position: fixed;
}

.recipeImg {
  border-radius: 60px;
  margin-bottom: 4px;
  transition: 500ms;
  width: 109px;
}

.recipeImg:hover {
  border-radius: 0;
}

.recipeCard {
  border: groove 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 2px;
  text-align: center;
}

.recipeContainer {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 80px;
  margin-top: 10px;
  width: 360px;
}

.instructions {
  margin: 4px;
  text-align: justify;
}

.detImg {
  align-content: space-around;
  display: flex;
  justify-content: space-around;
  width: 345px;
}

.loginForm {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.849);
  background-image: 'url(https://media.giphy.com/media/Buva2aomcuXBAD07PC/giphy.gif)';
  background-repeat: round;
  display: flex;
  flex-flow: column;
  height: 640px;
  justify-content: center;
}

.header {
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 6px;
  z-index: 1;
}

.footer {
  background-color: white;
}

.avatar {
  border: 2px rgba(255, 0, 0, 0.326);
  border-radius: 60px;
  border-style: groove;
  margin-bottom: 25px;
  width: 100px;
}

.title {
  background-color: rgba(255, 0, 0, 0.658);
  border-radius: 50px;
  color: orange;
  font-size: 25pt;
  margin-bottom: 60px;
  padding: 4px;
}

.userInputs {
  border: none;
  border-radius: 10px;
}

.title .userInputs {
  font-family: Segoe UI , Tahoma , Geneva , Verdana , sans-serif;
  text-align: center;
}

.headerIcons {
  border-radius: 40px;
  height: 45px;
  width: 45px;
}

.headerTitle {
  font-size: 25pt;
  margin-right: auto;
  padding-left: 55px;
  text-align: center;
}

.inputSearch {
  border-radius: 15px;
  margin: 10px;
  padding: 4px;
  text-align: center;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.filters input {
  margin-right: 6px;
}

.categoryFilters {
  display: flex;
  flex-flow: row wrap;
  font-size: 11pt;
  justify-content: center;
  margin-top: 4px;
}
