.title-header {
  font-size: 30px;
}

.meals {
  align-items: center;
  background: #0b2638;
  color: #d1d1d1;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.iconsHeader {
  background-color: transparent;
  border-style: none;
}

.header {
  align-items: center;
  background-color: #550788;
  color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  align-items: center;
  background-color: #550788;
  bottom: 0;
  color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.food-page {
  display: flex;
  flex-flow: column wrap;
  flex-direction: column;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}
