.title-header {
  font-size: 30px;
}

.buttonsExplore {
  margin-top: 50px;
}

.login {
  align-items: center;
  background-image: linear-gradient(to top, #1f1f1f, #111, #000);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.iconsHeader {
  background-color: transparent;
  border-style: none;
}

.header {
  align-items: center;
  background-color: var(--black);
  color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  align-items: center;
  background-color: var(--black);
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 0;
}

.food-page {
  align-content: space-between;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}

.Buttom-filters {
  align-items: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  top: 48px;
}

.buttons-list {
  align-content: space-around;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  align-self: center;
  border-radius: 6px;
  display: flex;
  height: 25px;
  width: 90px;
}

.recipe-img {
  border-radius: 6px;
  height: 10vh;
  width: 25vw;
}

.recipe-list-title {
  font-size: 1.5rem;
  color: #686868;
  position: relative;
}

.card {
  align-items: center;
  border-color: black;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  z-index: -1;
}

.img {
  border-radius: 20%;
}

.card-list {
  align-content: space-around;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 2rem;
}

.component {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
  background-color: #1f1f1f;
}

.searchbar-form {
  align-items: center;
}

.searchbar-container {
  margin-top: 50px;
  text-align: center;
}

.search {
  width: 90vw;
}

.drop-down {
  align-self: center;
  display: flex;
  height: 60px;
  position: relative;
  top: 50px;
  width: 357px;
}

.meal-and-drink {
  background-color: var(--primary-background-color);
}
