.slide-parent {
  display: flex;
  flex-flow: column;
}

.slide-parent h2 {
  margin-left: 1rem;
}

.suggestions-carousel {
  height: fit-content;
  padding: 1rem;

  /* background-color: rgb(25, 25, 25); */
  width: 100vw;
}

.box {
  background-clip: content-box;
  background-color: rgb(47, 47, 47);
  background-position: center;
  margin-right: 0.9rem;
  max-height: 224px;
  text-align: center;
}

.box img {
  width: 10rem;
}

.box h6 {
  color: rgb(85, 85, 85);
  font-size: 0.75rem;
  margin: 0;
}

.box h4 {
  color: rgb(156, 154, 154);
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.3rem;
}
